@using User_Registration_MVC.Models
@model User_Registration_MVC.Models.User


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    @if (!Model.IsEmailVerified)
    {
        <h3 class="text-danger">
            Nie zweryfikowałeś swojego maila. Dane aplikacji są wypełnione przykładowymi danymi.
        </h3>
    }
    @if (Model != null)
    {

        <h2>My Logs:</h2>

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Sleep.First().DayOfWeek)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sleep.First().StartSleep) /<br />  @Html.DisplayNameFor(model => model.Sleep.First().EndSleep)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Sleep.First().AmountOfSleep)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sleep.First().EveningRating) /<br /> @Html.DisplayNameFor(model => model.Sleep.First().MorningRating)
                </th>
                <th>
                    More
                </th>
            </tr>

            @* Tutaj raczej sortowania potrzeba *@
            @foreach (var sleep in Model.Sleep.Reverse())
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => sleep.StartSleep.DayOfWeek)
            </td>
            <td>
                @Html.DisplayFor(modelItem => sleep.StartSleep) /<br /> @Html.DisplayFor(modelItem => sleep.EndSleep)
            </td>
            <td>
                @{
            TimeSpan ts = (TimeSpan)sleep.AmountOfSleep;
            string tsString = string.Format("{0:00}h {1:00}m", ts.Hours, ts.Minutes);
                }

                @tsString
            </td>
            <td>
                @Html.DisplayFor(modelItem => sleep.EveningRating) /
                @Html.DisplayFor(modelItem => sleep.MorningRating)

            </td>
            <td>
                @Html.ActionLink("Details", "Edit", "Sleeps", new { id = sleep.SleepId }, new { @class = "button2" })
                <br />
                @if (sleep.Note != null)
        {
            <button id="Button1" type="button" class="button" onclick="func('@sleep.Note')">Note</button>
}
            </td>
        </tr>
}

        </table>
        <script>
            function func(tekst) {
                alert(tekst);
            }
        </script>
    }
    @section scripts{
        }
</body>
</html>
